In [9]:
 # step 1: Importing the data 
    
import pandas as pd
from sklearn.tree import DecionTreeClassifier
music_data = pd.read_csv('music.csv')

In [10]:
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [11]:
# step 2: Preparing / Cleaning the data.

# Here, I am separating the data set into two sets: the first two rows as the input sets and the genre column as the output set 
# since it contains all the predictions. 

X = music_data.drop(columns = ['genre'])

In [12]:
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [13]:
# y is the output data set

y = music_data['genre']

In [14]:
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [18]:
# Step 4 : creating (learning and predicting) the model.

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
music_data = pd.read_csv('music.csv')
X = music_data.drop(columns = ['genre'])
y = music_data['genre'] 

model = DecisionTreeClassifier()
model.fit(X, y)                     #this method trains the model.
predictions = model.predict([[21, 1], [22, 0]])
predictions

C:\Users\Alvin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [22]:
#step 5: Calculting the accuracy of the model.

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music_data = pd.read_csv('music.csv')
X = music_data.drop(columns = ['genre'])
y = music_data['genre'] 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) #testing the dataset with 20% of the data

model = DecisionTreeClassifier()
model.fit(X_train, y_train)                     
predictions = model.predict(X_test)

score = accuracy_score(y_test, predictions)
score

1.0

In [25]:
# step 6: persisting models / saving the model name 

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals import joblib

music_data = pd.read_csv('music.csv')
X = music_data.drop(columns = ['genre'])
y = music_data['genre'] 

model = DecisionTreeClassifier()
model.fit(X, y)     

joblib.dump(model, 'music-recommender.joblib')

 # predictions = model.predict([[21, 1]])

ImportError: cannot import name 'joblib' from 'sklearn.externals' (C:\Users\Alvin\anaconda3\lib\site-packages\sklearn\externals\__init__.py)

In [26]:
# step 7: Visualizing decision trees


import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

music_data = pd.read_csv('music.csv')
X = music_data.drop(columns = ['genre'])
y = music_data['genre'] 

model = DecisionTreeClassifier()
model.fit(X, y)     

tree.export_graphviz(model, out_file = 'music-recommeder.dot',
                    feature_names = ['age', 'gender'],
                    class_names = sorted(y.unique()),
                    label = 'all',
                    rounded = True,
                    filled = True)